.panel {
  width: 280px;
  background-color: var(--bg-primary);
  padding: 24px;
  padding-left: 64px;
}

.section {
  margin-bottom: 24px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  display: block;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.features,
.vehicleTypes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
}

.featureBtn,
.vehicleBtn {
  width: calc((100% - 16px) / 3);
  height: 96px;
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #dadde1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-size: 12px;
  text-align: center;
  color: var(--text-primary);
  transition:
    background-color 0.3s,
    border-color 0.3s;
  cursor: pointer;
  flex-shrink: 0;
}

.featureBtn:hover,
.vehicleBtn:hover {
  border-color: var(--bg-element-hover);
}

.featureBtn.active,
.vehicleBtn.active {
  border-color: var(--bg-element-hover);
}

.icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  fill: currentColor;
}

.featureLabel {
  font-family: "Inter";
  font-size: 12px;
  line-height: 16px;
  color: #101828;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 16px;
}

.searchButton,
.resetButton {
  flex: 1;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--bg-element);
  color: var(--text-inverted);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetButton {
  background-color: var(--bg-element);
  color: var(--text-inverted);
}

.searchButton:hover {
  background-color: var(--bg-element-hover);
}

.resetButton:hover {
  background-color: var(--bg-element-hover);
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dadde1;
  font-size: 14px;
}
