.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 100%;
  max-width: 888px;
  background: var(--bg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
  box-shadow: 0px 1px 3px var(--shadow-color);
}

.image {
  width: 290px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.priceAndFavorite {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}

.favoriteButton {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 0.3s ease;
}

.favoriteIcon {
  width: 24px;
  height: 24px;
  fill: var(--bg-dark);
  transition: fill 0.3s ease;
}

.favoriteButton:hover .favoriteIcon {
  fill: var(--bg-element-hover);
}
.details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
  margin-top: 8px;
  flex-wrap: wrap;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 6px;
  fill: var(--bg-light);
  transition: fill 0.3s ease;
}

.starIcon.active {
  fill: var(--bg-star);
}

.description {
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-secondary);
  margin-top: 16px;
}

.equipment {
  margin-top: 16px;
}

.equipment ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.equipment li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-secondary);
}

.equipment li svg {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.showMoreButton {
  margin-top: 24px;
  padding: 12px 24px;
  border: none;
  border-radius: 200px;
  background-color: var(--bg-element);
  color: var(--text-inverted);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: fit-content;
}

.showMoreButton:hover {
  background-color: var(--bg-element-hover);
}

/* Responsive: tablet/mobile */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .priceContainer {
    justify-content: space-between;
    width: 100%;
  }
}
