.wrapper {
  padding: 32px 16px;
  max-height: 100vh;
  overflow-y: auto;
  padding-left: 64px;
  color: var(--text-primary);
}

.header {
  margin-bottom: 24px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.metaTop,
.metaBottom {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 16px;
  color: var(--text-secondary);
}

.price {
  font-weight: 600;
  font-size: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  margin: 24px 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-light);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-border);
}

.description {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.tabs {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--bg-border);
}

.tab {
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

.activeTab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--bg-element);
}

.contentRow {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .contentRow {
    flex-direction: row;
  }

  .leftColumn,
  .rightColumn {
    flex: 1;
  }
}

.featuresReviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featuresList,
.detailsGrid,
.reviewList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--text-secondary);
}

.reviews {
  color: var(--text-secondary);
}

.reviewItem {
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--bg-border);
}

.reviewer {
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--text-primary);
}

.details {
  color: var(--text-primary);
}

.details li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.details li strong {
  color: var(--text-primary);
}

.bookingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 80px;
  gap: 100px;
  position: absolute;
  width: 631px;
  height: 588px;
  left: 64px;
  top: 800px;
  background: var(--bg-secondary);
  border-radius: 10px;
}

.formBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px;
  gap: 24px;
  position: absolute;
  width: 641px;
  height: 588px;
  left: 735px;
  top: 800px;
  border: 1px solid var(--bg-border);
  border-radius: 10px;
  background: var(--bg-primary);
}
