.header {
  background-color: var(--bg-secondary);
  padding: 24px 0;
  padding-left: 64px;
  border-bottom: 1px solid var(--bg-border);
}

.inner {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 450px;
}

.logoLink {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  line-height: 1.2;
  color: var(--text-primary);
}

.travel {
  color: var(--text-primary);
}

.truck {
  color: var(--text-secondary);
}

.menu {
  display: flex;
  gap: 32px;
}

.menuItem {
  color: var(--text-secondary);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menuItem:hover {
  color: var(--bg-element-hover);
}

.active {
  color: var(--bg-element-hover);
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .inner {
    gap: 32px;
    padding: 0 32px;
  }

  .menu {
    gap: 12px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .inner {
    flex-direction: column;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 8px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}
