.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--background-color-oneth);
  border: 1px solid #dadde1;
  border-radius: 12px;
}

.bookingForm h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-oneth);
  margin-bottom: 10px;
}

.bookingForm p {
  font-size: 16px;
  color: var(--text-color-threeth);
  margin-bottom: 20px;
}

.bookingForm label {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color-threeth);
  margin-bottom: 5px;
}

.bookingForm input,
.bookingForm textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  background-color: var(--background-color-twoth);
}

.bookingForm textarea {
  resize: vertical;
  min-height: 100px;
}

.bookingForm input::placeholder,
.bookingForm textarea::placeholder {
  color: #aaa;
}

.error {
  color: red;
  font-size: 12px;
}

.bookingForm button {
  padding: 12px 20px;
  background-color: var(--background-color-sixth);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

.bookingForm button:hover {
  background-color: var(--background-color-seventh);
}

.successMessage {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color-oneth);
  border-radius: 8px;
  border: 1px solid #6c717b;
}

.successMessage h3 {
  font-size: 20px;
  color: var(--text-color-oneth);
}

.successMessage p {
  font-size: 16px;
  color: var(--text-color-threeth);
}

.bookingForm .input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bookingForm input,
.bookingForm textarea {
  background-color: var(--background-color-twoth);
  border-radius: 10px;
}

.bookingForm .input-group label {
  font-size: 16px;
  color: var(--text-color-threeth);
  font-weight: 400;
}

.bookingForm input[type="text"],
.bookingForm input[type="email"],
.bookingForm input[type="date"] {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-color-oneth);
  border: 1px solid #ccc;
}

.bookingForm .input-group input {
  margin-bottom: 10px;
}

.bookingForm .sendButton {
  padding: 12px 24px;
  background-color: var(--background-color-sixth);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.bookingForm .sendButton:hover {
  background-color: var(--background-color-seventh);
}

@media (max-width: 768px) {
  .bookingForm {
    padding: 20px;
    max-width: 100%;
  }

  .bookingForm h2 {
    font-size: 20px;
  }

  .bookingForm button,
  .bookingForm .sendButton {
    padding: 10px 15px;
    font-size: 14px;
  }
}
