:root {
  --text-primary: #101828;
  --text-secondary: #475467;
  --text-muted: #6c717b;
  --text-error: #d84343;
  --text-inverted: #ffffff;

  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f7;
  --bg-light: #f2f4f7;
  --bg-border: #dadde1;
  --bg-warning: #ffc531;
  --bg-error: #e44848;
  --bg-error-dark: #d84343;
  --bg-dark: #101828;
}
